@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(223, 222, 222);
}

.app {
    display: flex;
    flex-direction: column;
}

.app_body {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.spinner{
    width: 60px;
    height: 60px;
}